ul{
    background-color: #2B2C2C;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    float: right;
}
a{
    color: #F2F7F7;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3 opacity ease-in-out;
}
a:hover{
    opacity: 0.8;
}

p{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 60px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: #2B2C2C;
}
#foot-text, h1{
    color: #F2F7F7;
}


.active{
    background-color: rgb(36, 173, 173);
}

.title-head-index{
    background-image: url('./images/bg1.jpg')

}
.title-head-about{
    background-image: url('./images/bg2.jpg')

}
.title-head-contact{
    background-image: url('./images/bg3.jpg')

}